@model List<ClothBazar.Entities.Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="form-group">
        <label>Category</label>

        <select name="CategoryID" class="form-control">
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control" />

    </div>
    <div class="form-group">

        <label>Description</label>
        <input name="Description" class="form-control" />
    </div>

    <div class="form-group">

        <label>Price</label>
        <input name="Price" class="form-control" />
    </div>
 
    <button type="button" id="saveBtn"  class="btn btn-primary">Save</button>
</form>



@*<form id="createProduct">

    <label>Category</label>
    <select name="CategoryID">
        @foreach (var category in Model)
        {
            <option value="@category.ID">@category.Name</option>
        }

    </select>
    <br />

    <label>Name</label>
    <input name="Name" />
    <br />

    <label>Description</label>
    <input name="Description" />
    <br />

    <label>Price</label>
    <input name="Price" />
    <br />

    <button type="button" id="saveBtn">Save</button>
</form>*@

<script>
       $("#saveBtn").click(function () {

       // var searchValue = $("#searchTxt").val();

        $.ajax({
            type: "POST",
            url: '/Product/Create',
            data: $("#createProduct").serialize() //here serialize get the data from page and attach to the class
        })
            .done(function (response) {

                $("#tableContainer").html(response);
                $("#actionContainer").html("");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });

    });
</script>